{% extends 'base.html' %}
{% load static %}
{% block title %}my_chat_room{% endblock %}
{% block content %}
<main>
<h1>ユーザー登録</h1>
<div class="createuser">
<form method="POST" action="{% url 'account:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>ユーザー名</label>
        {{ form.username }}
        {{ form.username.errors }}
        <br>
    </div>
    <div>
        <label>アイコン</label>
        {{ form.icon }}
        {{ form.icon.errors }}
        <br>
    </div>
    <div>
        <label>パスワード</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <br>
    </div>
    <div>
        <label>パスワード(確認)</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
        <br>

    </div>
    <div class="register">
        <input type="submit" value="登録する">
    </div>
</form>
</div>
</main>
{% endblock %}