{% extends 'base.html' %}
{% load static %}
{% block title %}chat room{% endblock %}
{% block content %}
    <h1>{{room.name}}</h1>
    <div>
        <a href="/chat/{{ room.id }}">チャット</a>
        <a href="/chat/{{room.id}}/2/summary">まとめ</a>
        <a href="/chat/{{room.id}}/3/detail">ルーム情報</a>
    </div>
    {%if user.is_authenticated%}
        <div class="follow">
            <form action={% url 'chatapp:chat_room' room.id %} method="POST">
                {% csrf_token %}
                {%if follow%}
                    <input type="submit" name="unfollow" value="マイルームから削除">
                {%else%}
                    <input type="submit" name="follow" value="マイルームに追加">
                {%endif%}
            </form>
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        </div>
    {%endif%}
        
    
<main>
    <div>
        <ul class="select-chat-box">
            {%for message in msg%}
                <div class="message">
                    <a href="/chat/{{room.id}}/{{message.id}}">
                        <p id='msg'>{{message.msg}}</p>
                    </a>
                    <p id='username'>{{message.username}}</p>
                    {%for img in message.pmaltipleimages_set.all%}
                        {% if forloop.counter <= 1 %}
                            <p id="image">
                                <p>{{img.image}}</p>
                                <a href="#"><img src="/media/{{img.image}}" with="150" height="150"></a>
                                {{message.pmaltipleimages_set.all.count}}枚の画像
                            </p>
                        {%endif%}
                    {%endfor%}
                </div>
            {% endfor %}

        </ul>
    </div>

    {% if request.user.is_authenticated %}
    <div class="send-msg">
        <form action={% url 'chatapp:chat_room' room.id %} method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><label for="id_msg">Msg:</label>
                <textarea name="msg" cols="40"  id="id_msg"></textarea>   
            </p>            
              <p><label for="id_images">Images:</label>
            <input type="file" name="images" multiple accept="image/*" required id="id_images">
            </p>
            <p><input type="submit" class="send" name="sendchat" value="送信" onclick="multipleFunction()"> </p>            
        </form>
    </div>
    {%else%}
        <p>ログイン後すると発言できます</p>
    {% endif %}


</main>
{% endblock %}
