{% extends 'base.html' %}
{% load static %}
{% block title %}chat room{% endblock %}
{% block content %}
    <h1>{{room.name}}</h1>
    <div>
        <a href="/chat/{{ room.id }}">チャット</a>
        <a href="/chat/{{room.id}}/2/summary">まとめ</a>
        <a href="/chat/{{room.id}}/3/detail">ルーム情報</a>
    </div>
    {%if user.is_authenticated%}
        <div class="follow">
            <form action={% url 'chatapp:chat_room' room.id %} method="POST">
                {% csrf_token %}
                {%if follow%}
                    <input type="submit" name="unfollow" value="マイルームから削除">
                {%else%}
                    <input type="submit" name="follow" value="マイルームに追加">
                {%endif%}
            </form>
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        </div>
    {%endif%}
        
    
<main>
    <div>
        <ul class="select-chat-box">
            {%for message in msg%}
                <div class="chatroom">
                    <div class="kakomi-maru4"><span class="title-maru4">{{message.username}}</span>
                        <p id='msg'>{{message.msg}}</p>
                        {%for img in message.pmaltipleimages_set.all%}
                            {% if forloop.counter <= 1 %}
                                <p id="image">
                                    <a href="/chat/{{message.id}}/media/images" target="_blank"><img src="/media/{{img.image}}" with="150" height="150"></a>
                                    {{message.pmaltipleimages_set.all.count}}枚の画像
                                </p>
                            {%endif%}
                        {%endfor%}
                        <a href="/chat/{{room.id}}/{{message.id}}">
                            <p>{{message.in_mesages.all.count}}個の返信</p>
                        </a>
                </div>
                </div>
            {% endfor %}

        </ul>
    </div>
    
 
    <footer id="footer">
        {% if request.user.is_authenticated %}
        <p class="displaytextarea" onclick="move()"></p>
                <div class="send-msg">
                    <form action={% url 'chatapp:chat_room' room.id %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="textarea"><label for="id_msg"></label>
                            <textarea name="msg"   id="id_msg"></textarea>   
                        </div> 
                        <div class="button">
                            <span class="btn btn-success" id="image-input">           
                                <label for="id_images">画像</label>
                                <input type="file" name="images" multiple accept="image/*" id="id_images" style="display:none">
                            </span>
                            <button type="submit" class="btn btn-primary" style="text-align: right" id="send" name="sendchat" value="送信" onclick="multipleFunction()">送信</button>     
                        </div>
            </form>
            {%else%}
            <div class="alertlogin">
                <p class="logindiscription">ログイン後すると発言できます</p>
            </div>
            {% endif %}
            </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>     
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>

    <script>
        footer=document.getElementById("footer")
        i=0
        function move(){
            if (i==0){
                footer.style.bottom="-135px";
                i=1;
            }else{
                footer.style.bottom="";
                i=0
            }

        }
    </script>

</main>
{% endblock %}
