{% extends 'base.html' %}
{% load static %}
{% block title %}my_chat_room{% endblock %}
{% block content %}
<h1>追加したマイルーム</h1>
<main>
    {%for room in rooms%}
    <div class="kakomi">
        <div class="center">
            
            {%if room.room.image%}
            <p><a href={% url 'chatapp:chat_room' room.room.id %}><img src="/media/{{room.room.image}}" width="150" height="150"></a></p>
            {%else%}
            <p><a href={% url 'chatapp:chat_room' room.room.id %}><img src="static/img/no_image.png" width="150" height="150"></a></p>
            {%endif%}
            <p><a href={% url 'chatapp:chat_room' room.room.id %}>{{room.room.name}}</a></p>

        </div>
    </div>
        {%endfor%}
</main>
</div>
{% endblock %}