{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% comment %} <div class="container"> {% endcomment %}
<h1>{{room.name}}</h1>
<main>

    {% comment %} <div class="chat-room-body"> {% endcomment %}
        {% comment %} {% for message in msg %} {% endcomment %}
            {% comment %} <div class="chat-box"> {% endcomment %}
                {% comment %} <div class="chat-body">
                    {{msg.content}}
                </div>
            </div> {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
            <div id="footer"></div>
        </div>
        <ul class="select-chat-box">
            {%for message in msg %}
                <p>{{message}}</p>
            {% endfor %}
    
        </ul>

    {% if request.user.is_authenticated %}
    <div class="send-msg">
        <form action={% url 'chatapp:chat_room' room.name %} method="POST">
            {% csrf_token %}
            {{  form.as_p }}
            <input placeholder="メッセージを入力" type="text" name="msg" value=""/>
            <input type="submit" class="send" name="button" value="送信"> 
        </form>
    </div>
    {% endif %}

        

</main>
{% endblock %}
