{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% comment %} <div class="container"> {% endcomment %}
<h1>{{room.name}}</h1>
<div>
    <a href="/chat/{{ room.id }}">チャット</a>
    <a href="/chat/{{room.id}}/summary">まとめ</a>
    <a href="/chat/{{room.id}}/detail">ルーム情報</a>
</div>
<div class="follow">
    <form action={% url 'chatapp:chat_room' room.id %} method="POST">
        {% csrf_token %}
        {%if follow%}
            <input type="submit" name="unfollow" value="マイルームから削除">
        {%else%}
            <input type="submit" name="follow" value="マイルームに追加">
        {%endif%}
    </form>
    
</div>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<br>


<main>


    <div>
        <ul class="select-chat-box">
            {%for message in msg%}
                <p id='msg'>{{message.msg}}</p>
                <p id='username'>{{message.username}}</p>
                
                {% endfor %}
                {% for i in image %}
                <p id='image'>{{i.image}}</p>
                {%endfor%}
    
        </ul>
    </div>

    {% if request.user.is_authenticated %}
    <div class="send-msg">
        <form action={% url 'chatapp:chat_room' room.id %} method="POST">
            {% csrf_token %}
            {{messageform.as_p}}
            <p><input type="submit" class="send" name="sendchat" value="送信"> </p>            
        </form>
    </div>
    {% endif %}

        

</main>
{% endblock %}
