{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% comment %} <div class="container"> {% endcomment %}
<h1>{{room.name}}</h1>
<main>

    <div>
        <ul class="select-chat-box">
            {%for message in msg%}
                <p id='msg'>{{message.msg}}</p>
                <p id='username'>{{message.username}}</p>
                
                {% endfor %}
                {% for i in image %}
                <p id='image'>{{i.image}}</p>
                {%endfor%}
    
        </ul>
    </div>

    {% if request.user.is_authenticated %}
    <div class="send-msg">
        <form action={% url 'chatapp:chat_room' room.name %} method="POST">
            {% csrf_token %}
            {{  form.as_p }}
            <input type="hidden" id='username' name="username" value={{ user.username }}>
            <input type="file" multiple="" name="images" id="multiple-files">
            <input placeholder="メッセージを入力" type="text" name="msg" value=""/>
            <input type="submit" class="send" name="button" value="送信"> 
        </form>
    </div>
    {% endif %}

        

</main>
{% endblock %}
