{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% comment %} <div class="container"> {% endcomment %}
<h1>HOME</h1>
<main>
    <h2>ルームを新しく作成する<h2>
        <div class="create-room-box">
            <form action={% url 'chatapp:index'%} method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}  
                {% comment %} <input placeholder="ルーム名を入力" type="text" name="name" value=""> <br>
                <input type="file" name="image" > <br>  {% endcomment %}
                <input type="submit" class="send" name="button" value="作成"> 
            </form>
        </div>
        <p>{{text}}</p>

        <br>
        <h2>新しいルーム</h2>
        <ul class="select-room-box">
            {%for lis in list%}
            {% if forloop.counter <= 5 %}
            <div>
                <p><a href="/chat/{{ lis.name }}"><img src="media/{{lis.image}}"width="150" height="150" border="0" ></a></p>
                <p><a href="/chat/{{ lis.name }}">{{lis.name}}</a></p>
            </div>     
            {%endif%}   
            {%endfor%}
        </ul>

</main>
</div>
{% endblock %}


