{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% comment %} <div class="container"> {% endcomment %}
<h1>HOME</h1>
<main>
    {%if user.is_authenticated%}
    <p><a href="{% url 'chatapp:newroom'%}">ルーム作成</a></p>
    {%else%}
    <p>ログインすると部屋が作成できます</p>
    {%endif%}

        <br>
        <h2>新作ルーム</h2>
        <ul class="select-room-box">
            {%for lis in list%}
            {% if forloop.counter <= 6 %}
            <div>
                {%if lis.image == ''%}
                <p><a href="/chat/{{ lis.id }}"><img src="static/img/no_image.png"width="150" height="150" border=""></a></p>
                {%else%}
                <p><a href="/chat/{{ lis.id }}"><img src="media/{{lis.image}}"width="150" height="150" border="0" ></a></p>
                {%endif%}
                <p><a href="/chat/{{ lis.id }}">{{lis.name}}</a></p>
            </div>     
            {%endif%}   
            {%endfor%}
        </ul>

</main>
</div>
{% endblock %}


